@import "compass/css3";

.left-list {
	overflow: hidden;
	#container {
		left: 0;
		   -webkit-tap-highlight-color: rgba(0,0,0,0);                                
    width: 100%;                                                               
    -webkit-transform: translateZ(0);                                          
    -moz-transform: translateZ(0);                                             
    -ms-transform: translateZ(0);                                              
    -o-transform: translateZ(0);                                               
    transform: translateZ(0);                                                  
    -webkit-touch-callout: none;                                               
    -webkit-user-select: none;                                                 
    -moz-user-select: none;                                                    
    -ms-user-select: none;                                                     
    user-select: none;                                                         
    -webkit-text-size-adjust: none;                                            
    -moz-text-size-adjust: none;                                               
    -ms-text-size-adjust: none;                                                
    -o-text-size-adjust: none;                                                 
    text-size-adjust: none;        
		
	}
}

.right-list {
}

#container,.right-list {
	@include display-flex;
	@include flex-direction(column);
	@include justify-content(flex-start);
	@include align-items(center);
	margin:auto;
	.left-icon {
		width: 85%;
		@include border-radius(50%);
		text-align: center;
		margin: 0.1rem 0 0.1rem 0;
		&:hover {
			background-color: $hover-color;
		}
		> img {
			width: 90%;
			padding-top: 5%;
		}
	}
	.right-icon {
		width: 0.4rem;
		height: 0.4rem;
		@include border-radius(50%);
		margin: 0.2rem 0 0.2rem 0;
		border: 0.03rem solid #EECE9C;
		&:hover {
			border: 0.05rem solid $hover-color;
		}
	}
}

.right-list {
	@include justify-content(center);
}
