@import "global";
@import "color";
@import "index-content";
@import "scene2";
@import "scene3";
@import "left-list";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
