html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

#select-scene {
  height: 100%;
  width: 100%;
  background-color: #7F5221;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.list {
  width: 90%;
  height: 89%;
  margin: auto;
  padding-top: 0.5rem;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.list .select {
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
}
.list .select img {
  width: 30%;
}
.list .select:hover {
  padding-top: 0.1rem;
}

.footer {
  height: 11%;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding-bottom: 0.1rem;
}
.footer img {
  height: 100%;
}

#load-scene {
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#load-scene .logo {
  margin: auto;
  text-align: center;
  width: 50%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
#load-scene .logo img {
  width: 100%;
}

#main-scene {
  height: 100%;
  width: 100%;
  background-color: "#000";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../image/main-scene/background.jpg");
  background-size: 100% 100%;
  overflow: hidden;
}
#main-scene .background-circle {
  height: 30%;
  position: absolute;
  top: 35%;
}
#main-scene .background-circle img {
  height: 100%;
}
#main-scene #right {
  right: 10%;
}
#main-scene #left {
  left: 10%;
}
#main-scene .left-list {
  position: absolute;
  top: 100000px;
  left: 0.2rem;
  width: 1rem;
  z-index: 10;
}
#main-scene .left-list img {
  width: 100%;
}
#main-scene .right-list {
  position: absolute;
  bottom: 1000000px;
  right: 0.2rem;
  width: 1rem;
  z-index: 10;
  transform: rotate(180deg);
}
#main-scene .right-list img {
  width: 100%;
}
#main-scene .top-list {
  width: 6.5rem;
  top: 0.1rem;
  margin: auto;
  position: relative;
  z-index: 10;
}
#main-scene .top-list img {
  width: 100%;
}
#main-scene .canvas {
  width: 5.3rem;
  margin: auto;
  z-index: 10;
  position: absolute;
  bottom: 0.05rem;
  right: 2.3rem;
}
#main-scene .canvas img {
  width: 100%;
}
#main-scene .canvas .model {
  position: absolute;
  width: 3rem;
  top: 0.05rem;
  left: 1.1rem;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
