@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("../font/icomoon.eot?-l23tss");
  src: url("../font/icomoon.eot?#iefix-l23tss") format("embedded-opentype"), url("../font/icomoon.ttf?-l23tss") format("truetype"), url("../font/icomoon.woff?-l23tss") format("woff"), url("../font/icomoon.svg?-l23tss#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '方正喵呜体';
  src: url("../font/miaowu.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow1:before {
  content: "\e600";
}

.icon-arrow2:before {
  content: "\e601";
}

#select-scene {
  height: 100%;
  width: 100%;
  background-color: #7F5221;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.list {
  width: 90%;
  height: 89%;
  margin: auto;
  padding-top: 0.5rem;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.list .select {
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
}
.list .select img {
  width: 30%;
}
.list .select:hover {
  padding-top: 0.1rem;
}

.footer {
  height: 11%;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding-bottom: 0.1rem;
}
.footer img {
  height: 100%;
}

#load-scene {
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#load-scene .logo {
  margin: auto;
  text-align: center;
  width: 50%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
#load-scene .logo img {
  width: 100%;
}

#main-scene {
  height: 100%;
  width: 100%;
  background-color: "#000";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../image/main-scene/background.jpg");
  background-size: 100% 100%;
  overflow: hidden;
}
#main-scene .background-circle {
  height: 30%;
  position: fixed;
  top: 35%;
}
#main-scene .background-circle img {
  height: 100%;
}
#main-scene #right {
  right: 10%;
}
#main-scene #left {
  left: 10%;
}
#main-scene .left-list {
  position: absolute;
  top: 100000px;
  left: 0.2rem;
  width: 1.2rem;
  z-index: 10;
}
#main-scene .left-list > img {
  width: 100%;
}
#main-scene .right-list {
  position: absolute;
  bottom: 1000000px;
  right: 0.2rem;
  width: 1.2rem;
  z-index: 10;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
#main-scene .right-list > img {
  width: 100%;
}
#main-scene .canvas {
  width: 5.6rem;
  margin: auto;
  z-index: 10;
  position: absolute;
  bottom: 0.05rem;
  right: 2.3rem;
}
#main-scene .canvas img {
  width: 100%;
}
#main-scene .canvas .model {
  position: absolute;
  width: 3rem;
  top: 0.05rem;
  left: 1.1rem;
  z-index: 10;
}
#main-scene .canvas #face {
  z-index: 20;
}
#main-scene .canvas #hair {
  z-index: 25;
}
#main-scene .canvas #clothes {
  z-index: 15;
}
#main-scene .canvas #pattern {
  z-index: 16;
}
#main-scene .nexticon {
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
  width: 0.8rem;
  height: 0.8rem;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #808EA9;
}
#main-scene .nexticon:hover {
  background-color: #EC7F37;
}

.top-list {
  width: 6.5rem;
  top: 0.1rem;
  margin: auto;
  position: relative;
  z-index: 10;
}
.top-list img {
  width: 100%;
}

.left-list {
  overflow: hidden;
}
.left-list #container {
  left: 0;
}

#container, .right-list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
  margin: auto;
}
#container .left-icon, .right-list .left-icon {
  width: 85%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  margin: 0.1rem 0 0.1rem 0;
}
#container .left-icon:hover, .right-list .left-icon:hover {
  background-color: #DAAD72;
}
#container .left-icon > img, .right-list .left-icon > img {
  width: 90%;
  padding-top: 5%;
}
#container .right-icon, .right-list .right-icon {
  width: 0.4rem;
  height: 0.4rem;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 0.2rem 0 0.2rem 0;
  border: 0.03rem solid #EECE9C;
}
#container .right-icon:hover, .right-list .right-icon:hover {
  border: 0.05rem solid #DAAD72;
}

.right-list {
  -webkit-justify-content: center;
  justify-content: center;
}

#top-mask {
  position: absolute;
  top: 0.1rem;
  z-index: 11;
  left: 50%;
  margin-left: -3.25rem;
  display: -webkit-flex;
  display: flex;
  text-align: center;
}
#top-mask > div {
  -webkit-flex: 1;
  flex: 1;
  height: 100%;
}
#top-mask p {
  font-size: 0.25rem;
  width: 0.25rem;
  margin: auto;
  line-height: 0.20rem;
  margin-top: 0.15rem;
  font-family: "方正喵呜体";
  color: #BEAEAE;
}
#top-mask p [data-dpr="2"] {
  font-size: 0.5rem;
}
#top-mask p [data-dpr="3"] {
  font-size: 0.75rem;
}
#top-mask .arrow {
  margin-top: 0.3rem;
  color: #BEAEAE;
  font-size: 0.25rem;
}
#top-mask .arrow [data-dpr="2"] {
  font-size: 0.5rem;
}
#top-mask .arrow [data-dpr="3"] {
  font-size: 0.75rem;
}
#top-mask .complete p {
  font-size: 0.3rem;
  width: 0.3rem;
  display: none;
  line-height: 0.30rem;
  color: #ff6666;
}
#top-mask .complete p [data-dpr="2"] {
  font-size: 0.6rem;
}
#top-mask .complete p [data-dpr="3"] {
  font-size: 0.9rem;
}

.msgbx-mask {
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  z-index: -1000;
  display: -webkit-flex;
  display: flex;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-align-items: center;
  align-items: center;
  transition: opacity 1s ease;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.msgbx-mask .msg {
  width: 4rem;
  height: 2rem;
  -moz-border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  border-radius: 0.4rem;
  margin: auto;
  display: table;
  background-color: #fff;
  border: 0.05rem solid #EC7F37;
  text-align: center;
}
.msgbx-mask .msg p {
  display: table-cell;
  vertical-align: middle;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
